* {
  margin: 0;
  padding: 0;
}

/* NAV */
.logo {
  font-family: "Berlin Sans FB Demi", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
  cursor: pointer;
  color: white;
}

.navbar a:hover,
.navbar a:focus,
.navbar .icon,
.active {
  -webkit-text-fill-color: #ffcd00;
  -webkit-text-stroke: 2px #006ebe;
  text-shadow: -1px -1px 1px #006ebe, 1px 1px 1px #006ebe, -1px 1px 1px #006ebe,
    1px -1px 1px #006ebe;
  font-size: 28px;
}

/*  */
body {
  background-color: #00b16a;
}

section {
  background-color: #eaf8e3;
  text-align: center;
  color: #9a9f9d;
  width: 65vw;
  margin: 0 auto;
  font-family: roboto;
  margin-bottom: -10px;
  margin-top: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

main {
  background-color: #eaf8e3;
  text-align: center;
  color: #9a9f9d;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 65vw;
  margin: 10px auto;
  font-family: roboto;
}

.search {
  padding: 20px 0 20px 0;
}

#search-input {
  margin: 10px 0;
  padding: 10px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.pokemon-card {
  border-radius: 10px;
  text-align: left;
  padding: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
}


.pokemon-img-container {
  position: relative;
  background-image: url("img/fondo.png");
  background-size: cover;
  overflow: hidden;
}

.pokemon-name {
  text-transform: capitalize;
}

.pokemon-card img {
  display: block;
  margin: auto;
  width: 150px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-card img:hover {
  cursor: pointer;
  transform: scale(1.05);
  animation: rotate 4s linear infinite;
}

h2 {
  color: #4f6764;
}

h1 {
  color: #4f6764;
}

.pokemon-type {
  padding-bottom: 20px;
}



/* Boton arriba */
.arriba {
  position: fixed;
  width: 80px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}




@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .arriba {
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: -40px;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

}







/* PERIL POKEMON */

#volver {
  display: flex;
  padding-left: 40px;
  padding: 10px;
  text-decoration: none;
}


.pokemon-detail-title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-size: 2.4vw;
  font-weight: bold;
  padding-bottom: 5px;
}

.pokemon-name {
  padding-right: 10px;
}

.pokemon-detail-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.pokemon-detail-img {
  position: relative;
  background-image: url("img/fondo.png");
  background-size: cover;
  overflow: hidden;
  border-radius: 25px;
  width: 48%;
  flex-grow: 1;
  margin: 5px;
}

.pokemon-detail-img img {
  width: 45%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-detail-info {
  width: 48%;
  flex-grow: 1;
  padding: 2px;
  margin: 5px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
  
}

.pokemon-types img {
  width: 60px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.pokemon-detail-infoGrey{
  background-color: #D9D9D9;
  border-radius: 15px;
  text-transform: capitalize;
  margin: 5px;
}

.pokemon-description {
  text-align: justify;
}