* {
  margin: 0;
  padding: 0;
}

/* NAV */
.logo {
  font-family: "Berlin Sans FB Demi", sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
  cursor: pointer;
  color: white;
}

.navbar a:hover,
.navbar a:focus,
.navbar .icon,
.active {
  -webkit-text-fill-color: #ffcd00;
  -webkit-text-stroke: 2px #006ebe;
  text-shadow: -1px -1px 1px #006ebe, 1px 1px 1px #006ebe, -1px 1px 1px #006ebe,
    1px -1px 1px #006ebe;
  font-size: 28px;
}

/*  */
body {
  background-color: #00b16a;
}

main {
  background-color: #eaf8e3;
  text-align: center;
  color: #9a9f9d;
  border-radius: 15px;
  width: 65vw;
  margin: 10px auto;
  font-family: "Roboto Mono", monospace;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 30px;
}

.search {
  padding: 20px 0 20px 0;
}

#search-input {
  margin: 10px 0;
  padding: 10px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.pokemon-card {
  border-radius: 10px;
  text-align: left;
  padding: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 200px;
}

.pokemon-img-container {
  position: relative;
  background-image: url("img/fondo.png");
  background-size: cover;
  overflow: hidden;
}

.pokemon-name {
  text-transform: capitalize;
}

.pokemon-card img {
  display: block;
  margin: auto;
  width: 150px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-img-container :hover, .pokemon-evolution-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  animation: rotate 4s linear infinite;
}

h2 {
  color: #4f6764;
}

h1 {
  color: #4f6764;
}

.pokemon-type {
  padding-bottom: 20px;
}

/* Boton arriba */
.arriba {
  position: fixed;
  width: 80px;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  cursor: pointer;
}

.sort {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

  .arriba {
    width: 60px;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
    position: relative;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: -40px;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

/* PERIL POKEMON */

#volver {
  display: flex;
  padding: 20px 50px;
  text-decoration: none;
  color: #006ebe;
  font-weight: 900;
  font-size: 20px;
}

.pokemon-detail-title {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-size: 2.4vw;
  font-weight: bold;
  padding-bottom: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-name {
  padding-right: 10px;
}

.pokemon-detail-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
}

.pokemon-detail-img {
  position: relative;
  background-image: url("img/fondo.png");
  background-size: cover;
  overflow: hidden;
  border-radius: 25px;
  width: 48%;
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-detail-img img {
  width: 45%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-detail-info {
  width: 48%;
  flex-grow: 1;
  padding: 2px;
  margin: 5px;
}

.pokemon-types {
  display: flex;
  justify-content: center;
}

.pokemon-types img {
  width: 60px;
  padding-right: 20px;
  padding-bottom: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-detail-infoGrey {
  background-color: #d9d9d9;
  border-radius: 15px;
  margin: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #9a9f9d;
  font-size: 18px;
}

.pokemon-description {
  text-align: justify;
  margin: 0 10px;
  padding-bottom: 10px;
}

.pokemon-size-tittle,
.pokemon-generation-tittle {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.pokemon-generation-tittle {
  text-transform: capitalize;
}

h4 {
  font-size: 26px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #4f6764;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.pokemon-stats {
  margin: 20px auto;
  padding-bottom: 20px;
}

.stats {
  width: 98%;
  margin: 0 auto;
  border-collapse: collapse;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

td,
th {
  border: 2px solid #4f6764;
  padding: 16px 0;
}

th {
  background-color: #00b16a;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

td {
  font-size: 19px;
}

.pokemon-resistant-weaknesses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon-resistant-types,
.pokemon-weaknesses-types {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.pokemon-resistant-types img,
.pokemon-weaknesses-types img {
  width: 60px;
  padding: 6px 8px;
}

/*EVOLUCIONES*/
.evolution-tittle {
  margin-top: 20px;
  margin-bottom: -45px;
}

.pokemon-evolution {
  background-color: #d9d9d9;
  width: 98%;
  margin: 50px auto;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pokemon-evolution-detail {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 30px;
}

.pokemon-evolution-img {
  /* background-color: #4f6764; */
  /* border-radius: 80px; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0 auto;
}

.pokemon-evolution-name {
  text-transform: capitalize;
}

.pokemon-evolution-detail:hover {
  cursor: pointer;
}

/* REGIONS */

.region-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 30px 0;
}

.kanto-button,
.johto-button {
  margin: 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #9a9f9d;
  color: #fff;
}

.kanto img,
.johto img {
  width: 180px;
  margin-bottom: -35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.kanto-button:hover,
.johto-button:hover {
  background: #ffcd00;
  border: 3px solid #006ebe;
  color: #006ebe;
}

.kanto-button {
  background: #006ebe;
}

.johto-button {
  background: #00b16a;
}

.hidden {
  display: none;
}

/* RARITY & EGG*/

.rarity-buttons,
.egg-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 30px 0;
}

.normal-button,
.legendary-button,
.mythic-button,
.k2-button,
.k5-button,
.k7-button,
.k10-button {
  margin: 20px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #9a9f9d;
  color: #fff;
  text-transform: uppercase;
}

.normal-button:hover,
.legendary-button:hover,
.mythic-button:hover,
.k2-button:hover,
.k5-button:hover,
.k7-button:hover,
.k10-button:hover {
  background: #ffcd00;
  border: 3px solid #006ebe;
  color: #006ebe;
}

.normal-button {
  background: #006ebe;
}

.legendary-button {
  background: #ed713c;
}

.mythic-button {
  background: #00b16a;
}

.km2,
.km5,
.km7,
.km10 {
  display: flex;
  flex-direction: column;
}

.km2 img,
.km5 img,
.km7 img,
.km10 img {
  width: 60px;
  height: 70px;
  margin-bottom: -80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.k2-button {
  background-color: #00b16a;
}

.k5-button {
  background-color: #ed713c;
}

.k7-button {
  background-color: #ffcd00;
}

.k10-button {
  background-color: #006ebe;
}

/* TYPE */

.type-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
}

.bug-button,
.dark-button,
.dragon-button,
.electric-button,
.fairy-button,
.fighting-button,
.fire-button,
.flying-button,
.ghost-button,
.grass-button,
.ground-button,
.grass-button,
.ice-button,
.norm-button,
.poison-button,
.psychic-button,
.rock-button,
.steel-button,
.water-button {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin: 10px 25px;
}

.bug-button {
  background-image: url(./img/elementos/bug.png);
}

.dark-button {
  background-image: url(./img/elementos/dark.png);
}

.dragon-button {
  background-image: url(./img/elementos/dragon.png);
}

.electric-button {
  background-image: url(./img/elementos/electric.png);
}

.fairy-button {
  background-image: url(./img/elementos/fairy.png);
}

.fighting-button {
  background-image: url(./img/elementos/fight.png);
}

.fire-button {
  background-image: url(./img/elementos/fire.png);
}

.flying-button {
  background-image: url(./img/elementos/flying.png);
}

.ghost-button {
  background-image: url(./img/elementos/ghost.png);
}

.grass-button {
  background-image: url(./img/elementos/grass.png);
}

.ground-button {
  background-image: url(./img/elementos/ground.png);
}

.ice-button {
  background-image: url(./img/elementos/ice.png);
}

.norm-button {
  background-image: url(./img/elementos/normal.png);
}

.poison-button {
  background-image: url(./img/elementos/poison.png);
}

.psychic-button {
  background-image: url(./img/elementos/psychic.png);
}

.rock-button {
  background-image: url(./img/elementos/rock.png);
}

.steel-button {
  background-image: url(./img/elementos/steel.png);
}

.water-button {
  background-image: url(./img/elementos/water.png);
}

.bug-button:hover,
.dark-button:hover,
.dragon-button:hover,
.electric-button:hover,
.fairy-button:hover,
.fighting-button:hover,
.fire-button:hover,
.flying-button:hover,
.ghost-button:hover,
.grass-button:hover,
.ground-button:hover,
.grass-button:hover,
.ice-button:hover,
.norm-button:hover,
.poison-button:hover,
.psychic-button:hover,
.rock-button:hover,
.steel-button:hover,
.water-button:hover {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin: 10px 25px;
  cursor: pointer;
  transform: scale(1.05);
  animation: rotate 4s linear infinite;
}





.pokemon-attack-bar, .pokemon-defense-bar, .pokemon-stamina-bar, .pokemon-cp-bar, .pokemon-hp-bar {
  padding: 10px 5px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  color: #4f6764;
  text-align: left;
}

.pokemon-attack-bar {
  background-color: #e3bfdb;
  border-top-left-radius: 14px;
  margin-bottom: 4px;
}

.pokemon-defense-bar {
  background-color: #dadaf6;
  margin-bottom: 4px;
}

.pokemon-stamina-bar {
  background-color: #f6d7c2;
  margin-bottom: 4px;
}

.pokemon-cp-bar {
  background-color: #b4dbf8;
  margin-bottom: 4px;
}

.pokemon-hp-bar {
  background-color: #a1eccd;
  border-bottom-left-radius: 14px;
}


.pokemon-stats-bar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 20px 30px 20px;
  background-color: #eaf8e3;
  padding-right: 10px;
  border-radius: 16px;
  border: 2px solid #4f6764;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
