* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */
header {
  background-color: #003476;
}

nav img {
  width: 100%;
  height: 340px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003476;
  position: sticky;
}

li {
  float: left;
}

li a {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 25px;
  color: #fff;
  background-color: #003476;
}

li a:hover {
  background-color: #e2e2e4;
  color: #003476;
}


li a:focus {
  background: #ffcd00;
  color: #003476;
}

.active {
  background-color: #ffcd00;
  color: #003476;
}

input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 15px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  ul li {
    float: none;
    padding: 10px;
  }

  li a {
    padding: 1px;
  }

  nav img {
    width: 100%;
    height: auto;
  }

  input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
  }
}

/*  */